@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  color: #e5e7eb;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f9fafb;
    color: #111827;
  }
}
